[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "webhaak"
version = "0.5.2"
authors = [
    {name = "Michiel Scholten", email = "michiel@diginaut.net"},
]
description= "Simple webhook service to update and deploy sites and do other maintenance and automatic tasks"
readme = "README.rst"
requires-python = ">=3.7"
keywords = ["webhook", "api", "automation", "CI/CD"]
license = {text = "Apache"}
classifiers = [
    "Framework :: FastAPI",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
]
dependencies = [
    "importlib-metadata; python_version<'3.8'",
    "fastapi[all]",
    "requests",
    "strictyaml",
    "gitpython",
    "rq"
]
# dynamic = ["version"]

[project.scripts]
my-script = "webhaak"

[project.urls]
"Homepage" = "https://github.com/aquatix/webhaak"
"Bug Tracker" = "https://github.com/aquatix/webhaak/issues"
