# Running the webapp
fastapi[all]
# Downloading content from the web
requests
# Toolkit for interacting with files, formatting and more
strictyaml
# Git
gitpython
# Notifications
# python-pushover
--editable=git+https://github.com/ImNtReal/python-pushover.git#egg=python-pushover
# Worker
rq
