# virtualenv required package
pkg-resources==0.0.0

# Running the webapp
Flask
# Downloading content from the web
requests
# Toolkit for interacting with files, formatting and more
utilkit>=0.3
pyyaml
# Git
gitpython
